/* For Mobile and PC */
nav{
    box-shadow: 1px 1px 5px  grey;
}
.grey{
    color: rgb(136, 114, 114) !important;
    font-size: 18px !important;
}
header{
    width: 100%;
    height: 600px;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1 (3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.hero h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.hero a{
    background: linear-gradient(to right, rgb(240, 44, 109), rgb(143, 45, 89));
    font-size: 16px;
    padding: 17px 35px;
    color: white;
    border: none;
}



main .services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px 20px;
}
.services .service-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service-group i{
    color:rgb(231, 22, 92);
}

.facts{
    color: white;
    background:linear-gradient( to bottom, rgba(27, 27, 27, 0.884), rgba(7, 7, 7, 0.753), rgba(10, 10, 10, 0.7)), url("../images/1 (2).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.facts .group{
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
}
.over-h{
    overflow: hidden;
}
.facts .group .round{
background-color: rgba(32, 28, 31, 0.856);
margin: 20px ;
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
font-size: larger;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
padding: 100px;
flex-direction: column;
background-position: center;
background-size: cover;
}

.facts .group .ro1:hover{
background: linear-gradient( rgba(240, 44, 109, 0.603), rgba(143, 45, 89, 0.685)), url("../images/1 (1).jpg");
}
.facts .group .ro2:hover{
    background: linear-gradient( rgba(240, 44, 109, 0.603), rgba(143, 45, 89, 0.685)), url("../images/1 (2).jpg");
}
.facts .group .ro3:hover{
background: linear-gradient( rgba(240, 44, 109, 0.603), rgba(143, 45, 89, 0.685)), url("../images/1 (3).jpg");

}
.facts .group .ro4:hover{
background: linear-gradient( rgba(240, 44, 109, 0.603), rgba(143, 45, 89, 0.685)), url("../images/1 (4).jpg");

}
.flex{
    display: inline-flex;
    padding: 25px 5px;
    align-content: center;
}
.orient-hori{
    transform: rotateZ(-90deg);
    font-weight: 600;
    font-family: cursive;
}
.orient-hori div{
    border-bottom: 3px solid rgb(206, 1, 144);
    width: max-content; 
}
.de h3{
    padding: 0;
    margin: 0;
    font-weight: 600;
}
.choose-us{
    color: rgb(26, 25, 25);
}
.slide div .fa, .choose-us .fa{
    color:rgb(231, 22, 92);
}
.left, .right{
    width: 50%;
}
.right{
    padding: 25px 0;
}
.products{
    color: white;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1 (3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 0;
}
.slider {
    display:flex;
    width: 500px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

 .products .slide{
    width: 600px;
    padding: 30px;
    line-height: 2;
    margin: 0 20px;
    text-align: center;
    background-color: #fff;
    color: rgb(34, 34, 34);
}
.products .slide:hover{
    border-bottom:4px solid tomato ;
}
.testimonials{
background-color: rgba(218, 218, 218, 0.904);
padding: 20px 0;
}
.testimonials .slide .image{
    width: 300px;
    margin: -40px 10px 0 ;
    align-items: center;
}
.testimonials .slide .image h6{
    color: rgb(102, 102, 102);
}
.testimonials .slide img{
    width: 130px;
    border-radius: 50%;
    padding: 0 10px;
}
.testi{
    width: 500px;
    padding: 30px;
    line-height: 2;
    margin: 0 20px;
    text-align: center;
    background-color: rgba(233, 232, 232, 0.808);
    color: rgb(34, 34, 34);
}
.navi ul{
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
.navi ul a{
    color: #000;
    font-weight: 600;
    padding: 10px 15px;
    width: auto;
}
.navi ul li:nth-child(1) a, .portfolio .more a, .navi ul li a:hover, .smt-btn{
    background: linear-gradient(to right, rgb(240, 44, 109), rgb(143, 45, 89));
    
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
}
.ports{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.ports img, .feeds img{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}
.portfolio{
    padding: 20px 0;
}
.portfolio .more{
    width: 200px;
    margin: auto;
    padding: 20px 0;
}
.newsfeed{
    background: linear-gradient(to top, rgba(37, 37, 37, 0.959),rgb(22, 22, 22));
    color: white;
    padding: 30px;
}


.flex-on{
    display: flex;
}
.flex-on i{
    
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.justify-content{
    justify-content: space-around;
    
}

.align-items{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.no-radius{
    border-radius: 0;
}

.feeds{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.feeds a, .products a:hover{
    color: rgb(240, 44, 109);
    display: inline;
    font-weight: 600;
}
a:hover{
    text-decoration: none;
}


.gotop a{
    padding: 10px 15px;
    position: fixed;
    background: linear-gradient(to right,rgb(240, 44, 109), rgb(143, 45, 89));
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    border-radius: 50%;
}
.pros{
    position: relative;
    color:rgb(240, 44, 109);
    font-size: 20px;
}
.pros .cap-txt{
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-weight: 700;
    display: none;
}

.pros:hover >  .cap-txt{
    display: block;
}
.pros:hover > img{
    opacity: 0.6;
}
.footer{
    background:linear-gradient(rgba(8, 8, 8, 0.801), rgba(0, 0, 0, 0.61)), url("../images/1 (3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20px 0;
}
.footer ul li{
    list-style: none;
    padding: 10px 0;
    
}
.footer ul a{
    color: #fff;
    
}
.newslet form input{
    width: 100%;
    border: none;
    outline: none;
}

.dark{
    color: black;
}
.app{
    display: flex;
    flex-direction: column;
}

    

@media screen and (max-width:900px){
    main .services{
        display: block;
    
    }
    .services .service-group{
        display: flex;
        justify-content: unset;
        align-items: center;
        padding: 0 20px;
        
    }
    .service-group i{
        color:rgb(231, 22, 92);
        padding-right: 15px ;
    }
  
    .app{
        display: flex;
        flex-direction: unset;
    }
    .flex-on{
        flex-direction: column;
    }
    .right, .left{
        width: 100%;
    }
    .testi{
        width: 400px;
    }
    
    .slider {
       
        width: 400px;
    }
    .feeds, .ports{
        display: block;
    }
    
    .newslet form{
        display: flex;
        flex-direction: column;
        
    } .newslet form input{
        width: 100%;
    }
}

